<main id="main">

	<div class="container">
		
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">
															
 				<article class="post">
					<h2 class="section-title"><span>Frolf</span></h2>
					<div class="entry-content">
						<p>The Williams Frolf course was created by Williams College students and has evolved over the years thanks to a number of WUFO alumni. Students traditionally play the course with the regulation 175-gram disc rather than the special disc golf discs.</p>

						<center><<iframe width="690" height="450" frameborder="0" src="//widgets.scribblemaps.com/sm/?d=true&z=true&l=true&mc=true&lat=42.714467503480066&lng=-73.2036442446232&vz=18&type=satellite&width=690&height=450&id=frolf" style="border:0" allowfullscreen></iframe></iframe></iframe></center>

						<% num = 1 %>
						<% for hole in params[:holes] %>

						<div>
							<h4><%= num %>: <%= hole["name"] %></h4>
							<b>Start:</b> <%= hole["start"]%><br>
							<b>Goal:</b> <%= hole["goal"]%><br>
							<b>Notes:</b> <%= hole["notes"]%>
						</div>

						<% num = num + 1 %>

						<%end%>

						Frisbee golf is an integral part of WUFO. The holes of the campus course and rules are listed below.

Rules:
Frisbee golf works like regular golf. Just get the "ball" to the "hole" and keep track the number of "strokes" it takes to get there.
Penalties:
Disc landing with center of mass in a road: +1
Disc hitting a vehicle anywhere except for the wheels: +1
Disc hitting a window: +1
Holes:
1. Old Glory
Tee:The top step of Chapin. Your first throw must be upsidedown.Hole:The flagpoleRecord:1 (Numerous)Tips:Get you're drive close and this is an easy two.
Back to top
2. The Frosh Quad
Tee:Behind the blue emergency light outside Sage A.Hole:Between the legs of the "No Parking" sign next to the crosswalk to Mission Hill.Record:3 (Numerous)Tips:A good plan is to straight down the path. A drive into the road is the killer on this hole.
Back to top
3. The Stone Bench
Tee:The back paving slab with the manhole.Hole:Resting on the stone bench at the top of Mission Hill near Park Street.Record:2 (Ian, Fatnick, Superdan, Frecka)Tips:Drive around the trees with an IO backhand. Layup and putt for a fairly easy three.
Back to top
4. The Haystack Mission
Tee:Inside the triangle made by the stone bench, the sculpture and the tree.Hole:The globe of the haystack monument.Record:2 (Fatnick, Jon Alexander)Tips:Option 1: Drive down the hill towards the break in the trees and go through. Option 2: Stay high and go around and then down. A long put is hard because if you miss the disc will go way past the monument. The safe bet is a layup and a scoober or hammer for a solid 4.
Back to top
5. The Island
Tee:The grass next to the haystack monument.Hole:Through the legs of the "No Parking" sign outside Hubbell.Record:3 (Goose, Pooter)Tips:Try to get your drive on the triangle and go for it.
Back to top
6. The Wrath of Dodd
Tee:The driveway outside Hubbell between the tree and the volleyball net.Hole:Between the legs of the "No Parking" sign by the driveway to the CES.Record:2 (Numerous)Tips:Drive can either go straight to the grass by Goodrich, or left past the corner of Dodd. Road penalties are usually numerous and the long pavement slide can either help you or hurt you. Be careful.
Back to top
7. Get A Job
Tee:Behind the streetlight on the CES driveway.Hole:Between the legs of the "No Parking" sign outside the door to the OCC.Record:3 (Numerous. Bison in two throws, but with a road penalty.)Tips:One of the toughest drives on the course, particularly when the parking lot is full. Decide whether you want to stay close to the trees and deal with the bushes, or boom it into the parking lot and take a road penalty in order to get open throws. Use the bush behind the sign to cushion your approach. Too short a putt and you'll be in the road.
Back to top
8. The Griffin Bench
Tee:The triangular paving slab by the northeast corner of Thompson Chapel.Hole:Resting on the wooden bench in front of Griffin.Record:2 (Bison)Tips:Drive should be straight "out of the chute". Don't end up in the chasm to the right. Some people favor sliding it along the sidewalk for more control. Try to get your approach shot on the Rt. 2 side of the bench so you can use the back of the bench on your putt.
Back to top
9. Across the Great Divide
Tee:The paving slab next to the Griffin bench.Hole:The top or stem of the sundial to the right of the door of Old Hopkins Observatory.Record:2 (Mr. Syk, Goose)Tips:Go around the right side of the observatory for a really tough two, a challenging three or a reasonable four.
Back to top
10. The Odd Hole
Tee:The strangely shaped paving slab in front of Hopkins Observatory.Hole:Resting on the south-facing bench on Smedley Terrace, to the right of Prospect.Record:3 (Numerous)Tips:Boom it through the quad but be careful on the approach. If it's too high you'll go over the railing. Some people favor using the bush to cushion their approach and dropping it on the bench from behind.
Back to top
11. The Driscoll Bench
Tee:Smedley TerraceHole:Resting on the bench between the Driscoll doors.Record:1 (Numerous)Tips:Scoobers and peaches are favored here. If you make it in one go get it quickly because if someone knocks it off with their drive it doesn't count.
Back to top
12. Off the Cliff
Tee:The gravelly roof of Driscoll, to the right of the rightmost entrance.Hole:The left red door of the hockey rink.Record:1 (Narva)Tips:You can try to go to boomtown and get your drive to the roof. There is a safe area alongside the rink that you will slide down to. The other option is to take it easy and try to stay on the grass. Both risk road penalties but a three is very gettable.
Back to top
13. Up the Mountain
Tee:Behind the lamppost by the rink doors.Hole:Between the legs of the sign just below the entrance to WCMA.Record:2 (Milo)Tips:Avoiding the parking lot on your drive is tough. If you can make it to the grass then do it, otherwise there is the ditch next to the rink as a safe spot. Then there's not a lot you can do but power up the hill and try to avoid the trees.
Back to top
14. The Eyes
Tee:Between the two eyes outside of the entrance to WCMA.Hole:Between the legs of the big WCMA sign next to Rt. 2.Record:2 (Jon Hargreaves)Tips:The usual drive is sliding along the cobblestones. It doesn't count as road until the little posts, just try not to get point blocked by the eyes. Don't overthrow your approach. The downward slope makes it easy to throw into the road.
Back to top
15. No Security
Tee:The little hillock to the left of the big WCMA sign.Hole:Between the legs of the parking sign across the road from the security entrance to Hopkins.Record:2 (Mr. Softee, Goose)Tips:A straightforward drive but very difficult approach shots and putts. A common strategy is to approach high and slide a putt down the hill. Dangers on this hole are road penalties and Chuck.
Back to top
16. The Hopkins Arch
Tee:Behind the crack in the road by the No Security sign.Hole:The right arch (as you face the building) of the Hopkins brick facade in front of the steps. Going through the top arch gives you a stroke off.Record:1 (Jason Haas w/ stroke off, Jim Regetz w/ stroke off)Tips:A drive around the corner of Hopkins will put you in a good position for a two. There is a lot of glass so watch out for window penalties.
Back to top
17. The Village Beautiful
Tee:The square paving slab at the intersection of the path alongside Hopkins and the path from the steps.Hole:Between the legs of the "Village Beautiful" sign on the island at the top of Spring St.Record:2 (Tyler)Tips:Try to stay clear of the bushes next to Hopkins and be very careful on your approach. Many discs have been run over at this intersection.
Back to top
18. The West Octagon
Tee:The paving slab in the middle of Morgan Corner that touches both sides of the diagonal path from the Rt. 2 crosswalk. Your disc must pass forwards through the arch by the Climb High, Climb Far gate.Hole:Your disc must be laying completely inside the octagonal tile on the patio on the east side of WestRecord:2 (Caffrey)Tips:A common strategy is to slide along the sidewalk as close to Lab Campus Drive as possible and then throw through the arch from there. Don't get disheartened if you miss the arch and have to go back. It happens to everyone.
Back to top
19. The Concrete Block
Tee:The sidewalk outside the eastern door of West.Hole:The concrete block in front of the Physics building. Getting the disc to rest on top of the block is a stroke off.Record:1 (Foyle w/ stroke off, Fatnick w/ stroke off)Tips:One of the most straightforward holes on the course. Roll pulls are a favorite on this one.
Back to top
20. Touring The Science Quad
Tee:The grass to the right of the concrete block.Hole:Resting on the concrete bench in closest to the door of BronfmanRecord:3 (Numerous)Tips:Drive is fairly open, just watch out for the big tree. Be careful of window penalties on your approach.
Back to top
21. Squeezing it Through
Tee:The biggest rectangluar paving slab in front of door of Bronfman.Hole:Resting on the wooden bench on the Rt. 2 side of the geosciences building.Record:3 (Dre Mart, Ugly Stick)Tips:There are three options. The first is squeezing it between the trees and the left side of the geo building - be careful of window penalties. The second is taking the long way around the right of the geo building. The third is booming a hammer over the roof.
Back to top
22. Send It
Tee:The paving slap at the sidewalk intersection next to the bench.Hole:Resting completely under the mailbox outside of Weston.Record:3 (Chester, Robo, Lyn)Tips:Send it. If you can get your drive across Hoxsey Street then just boom it. Otherwise watch out for the road and then boom it.
Back to top
23. The Jewish Hole
Tee:The sloping sidewalk next to the mailbox.Hole:The far little white pillar in front of the JRC.Record:3 (Numerous)Tips:This hole has a tough drive with the road to the right and parking lots and cars on both sides. Try to get on the sidewalk or grass on either side of the road. After the drive the approach is easier, just watch out for the trees.
Back to top
24. BBBQ
Tee:Between the white pillars outside the BBQ.Hole:The grill behind Perry.Record:3 (Chester)Tips:Try for a big drive towards the volleyball court, taking care to avoid the trees. Second shot is a blind shot over Perry or the thicket. Don't try to go through the bushes, it never works.
Back to top
25. The Rotary
Tee:The grass near the Perry grill.Hole:Resting on the wooden bench on the rotary, to the left of the walkway.Record:3 (Numerous)Tips:A pretty straightforward hole. Trees will bother your drive. Then you just have to watch out for cars and the road.

					</div> 
				</article><!-- #post-## -->

			</div> 
		</div> <!-- /row post  -->

	</div>	<!-- /container -->

</main>

